bazel-bin
bazel-fhir-example
bazel-fhir-examples
bazel-genfiles
bazel-out
bazel-testlogs
proto/myprofile/myprofile.json
proto/myprofile/myprofile.proto
proto/myprofile/myprofile_proto.proto
proto/myprofile/myprofile_extensions.json
.*
!/.gitignore